*{margin:0;padding:0;}

body{
	background:#fefefe;
	width:100%;
	height:100%;
	position:absolute;
	font-family:"Microsoft Yahei"; 
	}
	
.logo{
	float: left;
    width: 160px;
    margin-top: 10px;
    margin-left: 10px;
	}
	
#headline{
	background:lightgoldenrodyellow;
	width: 100%;
    height: 9%;
}
	
	
.prompt{
	width: 52px;
    height: 28px;
    margin-right: 5px;
    font-size: 12px;
    font-family: "Microsoft Yahei";
}

.inner_menu{
	left: 63%;
    top: 15px;
    display: block;
    position: absolute;
}

#newWin{
	width:20%;
    display: none;
    background: lightyellow;
    margin: 0 auto;
    margin-top: 10%;
    border: 2px solid black;
    padding: 5% 8% 9% 12%;
}

#submitButton{
	width: 193px;
    height: 28px;
    position: absolute;
    margin-top: 10px;
}

#fname{
	margin-bottom:10px;
}
