/*body, dl, dd, ul, ol, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, textarea, p, blockquote, figure, hr, menu, dir, thead, tbody, tfoot, th, td {margin:0; padding:0; } */
 
img {border: 0 none; width: auto\9; vertical-align: top; -ms-interpolation-mode: bicubic; } 
