@charset "GB2312";

*{margin:0;padding:0;       
}


body{
	background:#fde582;
	width:100%;
	height:100%;
}

#sharelogo{
	width:120px;
	position:absolute;
	right:5px;
	top:5px;
}

#frame{
	width: 100%;
    height: 57%;
    top: 10%;
    position: absolute;
}

#monster{
	width: 90%;
    position: relative;
    margin-top: 17%;
    margin-left: 5%;
}

#openapp{
	width: 43%;
    height: 53px;
    position: absolute;
    left: 5%;
    bottom: 34px;
    background: url(../Image/Web/openapp.png) no-repeat center;
    background-size: cover;
}

#openstore{
	width: 43%;
    height: 53px;
    position: absolute;
    right: 5%;
    bottom: 34px;
    background: url(../Image/Web/openstore.png) no-repeat center;
    background-size: cover;
}

#openapp:active{
	width: 43%;
    height: 53px;
    position: absolute;
    left: 5%;
    bottom: 34px;
    background: url(../Image/Web/openapp_selected.png) no-repeat center;
    background-size: cover;
}

#openstore:active{
	width: 43%;
    height: 53px;
    position: absolute;
    right: 5%;
    bottom: 34px;
    background: url(../Image/Web/openstore_selected.png) no-repeat center;
    background-size: cover;
}

#invitation{
	width: 80%;
    height: 18%;
    position: absolute;
    left: 10%;
    bottom: 17%;
    text-align: center;
}

#profile{
	position: relative;
    text-align: center;
    font-family: "Microsoft Yahei"; 
    font-size: 17px;
    margin-top: 2px;
}

#myrole{
	height:40px;
	width:40px;
	margin:0 auto;
}

#name{
	color: #ae0c23;
}

#message{
	margin-top: -25px;
}

#rm{
	font-family: "Microsoft Yahei";
    -moz-transform: rotate(8deg);
    -webkit-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    transform: rotate(8deg);
    position: absolute;
    right: 6%;
    top: 16%;
}

#goalid{
	display:none;
}

#nickname{
	display:none;
}

#role{
	display:none;
}