<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    	<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,width=device-width,user-scalable=no" />
    	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <meta name="x5-fullscreen" content="true">
		<meta name="full-screen" content="yes">
    	<meta name="keywords" content="" />
    	<meta name="description" content="" />
		<title>寻宝部落信息窗口</title>
		<link rel="stylesheet" href="__PUBLIC__/css/message.css">
		<script type="text/javascript" src="__PUBLIC__/js/message.js"></script>
	</head>
	
	<body>
		<form action="#">
			<p><textarea id="message" rows="5"cols="30"></textarea></p>
			<p><label><input type="radio" name="nodeAction" id="sendAll">全部发送</label>
			<label><input type="radio" name="nodeAction">输入手机号</label>
			<label><input type="phone" id="phone">输入手机号</label>
			</p>
			<input type="submit" value="Submit" id="submit">
		</form>
	</body>
</html>
