<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    	<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,width=device-width,user-scalable=no" />
    	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <meta name="x5-fullscreen" content="true">
		<meta name="full-screen" content="yes">
    	<meta name="keywords" content="商城兑换 hideseek 寻宝部落 APP 探险 积分 怪兽" />
    	<meta name="description" content="这是一款融虚拟和现实为一体的趣味性社交 APP, 增添了多种冒险性探索元素,并且随机赋予用户不同的情景角色,让用户在闲暇时光走到户外去,带着手机来场探险。" />
    	<title>寻宝部落导航页</title>
		<link rel="stylesheet" href="__PUBLIC__/css/sharepage.css">
		<script type="text/javascript">
    		var fairyImage = "__PUBLIC__/Image/Web/fairy.png";
    		var magicianImage = "__PUBLIC__/Image/Web/magician.png";
    		var knightImage = "__PUBLIC__/Image/Web/knight.png";
    		var monsterImage = "__PUBLIC__/Image/Web/monster.png";
    		var giantImage = "__PUBLIC__/Image/Web/giant.png";
    		var cow = "__PUBLIC__/Image/Web/cow.png";
    		var dragon = "__PUBLIC__/Image/Web/dragon.png";
    		var bird = "__PUBLIC__/Image/Web/bird.png";
    		var mushroom = "__PUBLIC__/Image/Web/mushroom1.png";
    		var bomb = "__PUBLIC__/Image/Web/bomb1.png";
    		var egg = "__PUBLIC__/Image/Web/egg.png";
    		var giraffe = "__PUBLIC__/Image/Web/giraffe.png";
    		var warning = "__PUBLIC__/Image/Web/warning.png";
    	</script> 
		<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
		<script type="text/javascript" src="__PUBLIC__/js/sharepage.js"></script>
	</head>
	<body>
		<img src="__PUBLIC__/Image/Web/sharelogo.png" id = "sharelogo">
		<img src="__PUBLIC__/Image/Web/frame.png" id = "frame">
		<img src="" id = "monster">
		<p id ="rm"></p>
		<a id = "openapp"></a>
		<a id = "openstore"></a>
		<div id="invitation">
			<img src="" id = "myrole">
			<div id="profile">
				<p id ="name"></p><br/>
				<p id ="message"></p>
			</div>
		</div>
		
		<input type = "text" id = "goalid" value = "{$goalId}" />
		<input type = "text" id = "nickname" value = "{$nickname}" />
		<input type = "text" id = "role" value = "{$role}" />
	</body>
</html>
