*{margin:0;padding:0;}

body{
	background:#fefefe;
	width:100%;
	height:100%;
	position:absolute;
	font-family:"Microsoft Yahei"; 
	}

#scene{
	background:url("../img/camera.png") no-repeat center;
	background-size: cover;
	height:60%;
}

#getButton{
    background: url("../img/get.png") no-repeat center;
    background-size: cover;
    height:100px;
    width:101px;
    margin-top:-50px;
    margin-left: auto;
    margin-right: auto;
    font-size:20px;
    line-height: 98px;
    text-align: center;
    position:relative;
    z-index:10;
}

#map{
	background:url("../img/roadmap.jpg") no-repeat center;
	background-size: cover;
	margin-top:-45px;
	left:5px;
	width:47.5%;
	height:32%;
	position:absolute;
	z-index:1;
}

#order{
	margin-top:-45px;
	right:5px;
	width:47.5%;
	height:32%;
	position:absolute;
	z-index:1;
}

#hint{
	background: #f0f0f0;
    height: 20%;
    text-align: left;
    font-size: 14px;
    line-height: 39px;
    padding-left: 41px;
}

#guide{
	background: #f0f0f0;
    width: 100%;
    height: 52%;
    margin-top:5px;
    text-align: right;
    font-size: 14px;
    line-height: 39px;
}

#getit{
	background: #f0f0f0;
    width: 100%;
    height: 23%;
    margin-top:5px;
    text-align: right;
    font-size: 14px;
}

#ad{
	background: #ffcc00;
    height: 7%;
    width: 100%;
    bottom: 0px;
    position: absolute;
    z-index:3;
    border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top:1px solid white;
}

#location{
	height: 60px;
    width: 42px;
    margin-right: 60%;
    margin-top: 12%;
}

#distance{
	margin-top: -42%;
    margin-right: 20%;
}

#quick{
	background: #ffcc00;
    width: 132px;
    height: 32px;
    position: relative;
    top: 18%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    text-align: center;
    line-height: 32px;
}

#meter{
	margin-right: 24%;
    margin-top: -10%;
    color: red;
}

#road{
	width:100%;
	height:100%;
	display:none;
}

#spot{
	width: 30px;
    height: 41px;
    position: absolute;
}

#guidemap{
	background: url("../img/guidemap.jpg") no-repeat center;
    background-size: cover;
    position: absolute;
    z-index: 10;
    width: 144%;
    top: 0%;
    height: 97%;
    background-color: #ffffff;
    padding: 5px;
    border: 2px solid #ffcc00;
    display: none;
    border-radius: 5px;
    overflow:auto;
}

#closeBox{
	background: url("../img/closeBox.png") no-repeat center;
    background-size: cover;
    height: 31px;
    width: 30px;
    margin-left: 91%;
}

#boy{
	height: 55px;
    width: 54px;
    position: absolute;
}

#mapbox{
	height: 39px;
    width: 39px;
    position: absolute;
   
}

#mushroomgif{
	height: 160px;
    width: 160px;
    margin-top: -68%;
    margin-left: 29%;
    z-index: 3;
    position: absolute;
    display:none;
}

#box{
	width: 35px;
    height: 37px;
    position: absolute;
}

#score{
	background: url("../img/score.png") no-repeat center;
    background-size: cover;
    height: 137px;
    width: 137px;
    margin-top: -68%;
    margin-left: 31%;
    z-index: 3;
    position: absolute;
    text-align: center;
    line-height: 137px;
    font-size: 35px;
    color: white;
    display:none;
}

#report{
	background: url("../img/report.png") no-repeat center;
    background-size: cover;
    position: relative;
    width: 328px;
    height: 254px;
    margin-top: -72%;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    border-radius: 10px;
    border: 2px solid white;
    color: black;
    font-size: 40px;
    font-family: "楷体";
    display: none;
}


#mushroomN{
	font-family: "微软雅黑";
    margin-top: 60px;
    margin-left: 58%;
    color: orange;
}

#bombN{
	font-family: "微软雅黑";
    margin-top: 20px;
    margin-left: 58%;
    color: orange;
    height: 42px;
}

#sum{
	font-family: "微软雅黑";
    margin-left: 69%;
    margin-top: 40px;
    color: red;
    height: 38px;
    width: 25px;
    font-size: 26px;
    line-height: 38px;
}


#number{
	margin-top: -52%;
    margin-left: 50%;
    position: absolute;
}

#N{
	color:red;
}

#alert{
	height: 40px;
    width: 315px;
    margin-left: 22%;
    background-color: orangered;
    border-radius: 10px;
    border: 1px solid white;
    text-align: center;
    line-height: 40px;
    color: white;
    margin-top: 8px;
}

#meter1{
    margin-right: 8px;
    }
    