*{margin:0;padding:0;       
}


body{
	background:#f5f5f5;
	width:100%;
	height:100%;
	position:absolute;
	font-family:"Microsoft Yahei"; 
	-webkit-overflow-scrolling: touch; 
	overflow-scrolling: touch; 
	}
	
#headline{
	background:lightgoldenrodyellow;
	width: 100%;
    height: 9%;
}

input{
	width: 62%;
    height: 30px;
    margin-left: 4px;
    font-size: 13px;
    font-family: "微软雅黑";
    margin-bottom: 10px;
    border-color: dimgrey;
    border-width: 0px;
    background-color: white;
}

input:-webkit-autofill { 
-webkit-box-shadow: 0 0 0px 1000px white inset; 
}

input.invalid {
	background-color: lightyellow;
	color: 1px red inset;
}


.logo{
	float: left; 
	width:160px; 
	padding-top: 10px;
	padding-left:10px;
	}
	
.prompt{
	width: 52px;
    height: 28px;
    margin-right: 5px;
    font-size: 12px;
    font-family: "Microsoft Yahei";
}

.inner_menu{
	left: 63%;
    top: 15px;
    display: block;
    position: absolute;
}

#newWin{
	width: 88%;
    height: 234px;
    background: white;
    border: 2px solid dimgrey;
    border-radius: 5px;
    display: none;
    margin: 20% auto auto 6%;
    position: absolute;
    z-index: 10;
    text-align: center;
    font-size: 15px;
}

#newWin1{
	width: 88%;
    height: 350px;
    background: white;
    border: 2px solid dimgrey;
    border-radius: 5px;
    display: none;
    margin: 10% auto auto 6%;
    position:absolute;
    z-index:10;
    text-align:center;
    font-size:15px;
}

#login{
    height: 35px;
    margin-top: 10px;
    font-family: "Microsoft Yahei";
    font-size: 15px;
    background-color:#fae077;
    border-radius:5px;
    cursor: pointer; 
    -webkit-appearance: none;
    width: 80%;
}

#register{
    height: 35px;
    margin-top: 10px;
    font-family: "Microsoft Yahei";
    font-size: 15px;
    background-color:#fae077;
    border-radius:5px;
    cursor: pointer; 
    -webkit-appearance: none; 
    width: 80%;
}

#myprofile{
	left: 80%;
    top: 1%;
    position: absolute;
    display: none;
    font-size: 12px;
    padding: 2px;
    background:#fae077;
    border-radius:2px;
    border:1px solid cornflowerblue;
}


#test1{
	float: left;
	background:#fae077;
}

#test2{
	float: left;
	background:#fae077;
}


#fault{
	background: indianred;
    width: 70%;
    height: 33px;
    z-index: 10;
    font-size: 15px;
    color: white;
    line-height: 33px;
    text-align: center;
    border-radius: 5px;
    margin: 0px auto;
    position: relative;
    display: none;
}

#loginForm{
    position: relative;
    text-align: center;
    margin-top: 15%;
}

#registerForm{
    position: relative;
    text-align: center;
    margin-top: 15%;
}

#guide{
	height: 40px;
    width: 163px;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 10px;
	background:white;
	font-size:14px;
}

#purchase{
	float: left;
    height: 40px;
    width: 79px;
    text-align: center;
    line-height: 40px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

#exchange{
	float: right;
    height: 40px;
    width: 79px;
    text-align: center;
    line-height: 40px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.N2{
	float: left;
	margin-left: 10px;
    margin-top: 10px;
    height: 35%;
    width: 45%;
    background: white;
    font-size: 14px;
}

.N1{
	float: right;
    margin-right: 10px;
    margin-top: 10px;
    height: 35%;
    width: 45%;
    background: white;
    font-size: 14px;
}

.productImg{
	width: 118px;
    height: 98px;
    margin: 9px auto 0 14px;
}

.scoreImg{
	width: 17px;
    height: 17px;
    position: absolute;
    margin-left: 3px;
}

.pointNum{
	font-size: 8px;
    position: absolute;
    margin-left: 21px;
    line-height: 17px;
    color: #d30b06;
}

.peopleImg{
	margin-left: 41px;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    position: absolute;
}

.peopleNum{
	font-size: 8px;
    position: absolute;
    margin-left: 58px;
    line-height: 17px;
    color:#d30b06;
}

.get1{
	margin-top: 6px;
    width: 100%;
    height: 11%;
    background: #FFCC00;
    text-align: center;
}

.exGet{
	margin-top: 6px;
    width: 100%;
    height: 11%;
    background: #FFCC00;
    text-align: center;
}

.productName{
	margin-top: 10px;
    margin-left: 10px;
}

#intro{
	margin-top: 19px;
    margin-right: 5px;
    margin-left: 5px;
    width: 99%;
    height:47px;
    font-size: 12px;
}

.selected{
	background:#FFCC00;
}


#purArea{
	position:absolute;
	z-index:5;
}

#exArea{
	position:absolute;
	z-index:5;
	display:none;
}

.icon{
	height: 19px;
    width: 14px;
    margin-bottom: -3px;
}

.line{
	margin-top: -10px;
    margin-bottom: 16px;
    margin-left:auto;
    margin-right:auto;
}

#verifiCode{
	height: 29px;
    width: 36%;
    background-color: #fae077;
    border-radius: 5px;
    cursor: pointer; 
    -webkit-appearance: none; 
}


#codeNum{
	border-width: 1px;
	width:38%;
	}